---
import "../styles/global.css";
---

<nav class="bg-gray-900 text-white p-4 rounded-2xl shadow-lg">
  <ul class="flex flex-wrap gap-6 justify-center">
    <li>
      <a href="/" class="hover:text-yellow-400 transition-colors">Retours</a>
    </li>
    <li>
      <a href="/Simple" class="hover:text-yellow-400 transition-colors">Simple</a>
    </li>
    <li>
      <a href="/SimplePenguin" class="hover:text-yellow-400 transition-colors">Simple Penguin</a>
    </li>
    <li>
      <a href="/PenguinFiltre" class="hover:text-yellow-400 transition-colors">Penguin avec filtre</a>
    </li>
    <li>
      <a href="/PenguinPlusieurFiltre" class="hover:text-yellow-400 transition-colors">Penguin avec plusieurs filtres</a>
    </li>
  </ul>
</nav>